div.game-board {
  display: grid;
  gap: 0.5vw;
  padding: 0.5vw;
  background-color: darkblue;
  margin: auto;
  border-radius: 10px;
}
div#s {
  grid-template-columns: 6vw 6vw 6vw 6vw;
  width: fit-content;
}
div#m {
  grid-template-columns: 6vw 6vw 6vw 6vw 6vw 6vw;
  width: fit-content;
}
div#l {
  grid-template-columns: 6vw 6vw 6vw 6vw 6vw 6vw 6vw 6vw;
  width: fit-content;
}

