body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: linear-gradient(
    44deg,
    #a6a3a3 25%,
    #9c9c9c 25%,
    #9c9c9c 50%,
    #a6a3a3 50%,
    #a6a3a3 75%,
    #9c9c9c 75%,
    #9c9c9c 100%
  );
  background-size: 14.4px 13.9px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
